.outerBox {
  display: flex;
  border-style: groove;
  height: 200px;
  width: 200px;
  border: black 2px solid;
}


.signIn {
  top: 0px;
  right: 0px;
  position: absolute;
}

.picture {
  top: 0px;
  left: 0px;
  position: absolute;
}

.destination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFlights {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerHotels {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerPOI {
  display: flex;
  justify-content: center;
  align-items: center;
}


.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
